#cabeçalho{

margin: 0;
padding: 0;
box-sizing: border-box;
top: 0;

}

.info{

    display: inline-block;

  }

.lado-direito{

vertical-align: middle;
max-width: 50%;
text-align: center;

}

.lado-esquerdo{

vertical-align: middle;
max-width: 50%;
text-align: center;

}

#rodape{

  margin: 0;
  padding: 0;
  text-align: center;

}

