#cabecalho{

margin: 0;
padding: 0;
box-sizing: border-box;
top: 0;
position: fixed;

}
body{
  background-color: rgb(253, 251, 251);
}

    p{font-size: 20px;}

    aside{
      border: 1px solid #555;
      padding: 10px;
      border-radius: 10px;
      background-color: #333;
      color: #fff;
    }
    article{
      border: 1px solid #555;
      padding: 10px;
      border-radius: 10px;
      background-color: #333;
      color: #fff;
    }
    #titulo{
      border: 1px solid #555;
      margin: 0;
      padding: 10px;
      border-radius: 10px;
      background-color: #333;
      color: #fff;
      
    }

    


.info{

    display: inline-block;

  }

.lado-direito{

vertical-align: middle;
max-width: 50%;
text-align: center;

}

.lado-esquerdo{

vertical-align: middle;
max-width: 50%;
text-align: center;

}

#rodape{

  margin: 0;
  padding: 0;
  text-align: center;

}

